doctype html
html
  head
    meta(charset='utf-8')
    |     
    title Popcorn Time - Frequently Asked Questions
    // Use latest IE Engine
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Metadata
    meta(name='keywords', content='popcorn,time,download,streaming,movies,tv,shows,free,hd,android,popcorn-time,popcorntime')
    |     
    meta(name='description', content='Frequently Asked Questions, Skip the downloads! Watch the best movies & TV shows on Popcorn Time instantly in HD, with subtitles, for free! ')
    |     
    meta(name='author', content='Popcorn Time')
    |     
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no')
    |     
    meta(name='language', content='english')
    |     
    meta(name='google', content='notranslate')
    |     
    meta(name='google-site-verification', content='MD35CXFqrNQJZy0bQKGSdtX7cTAYov9mHP64rTYsgUQ')
    // Facebook OpenGraph Metadata
    meta(property='og:title', content='Popcorn Time')
    |     
    meta(property='og:description', content='Frequently Asked Questions, Skip the downloads! Watch the best movies & TV shows on Popcorn Time instantly in HD, with subtitles, for free!')
    |     
    meta(property='og:type', content='website')
    |     
    meta(property='og:url', content='https://popcorntime.sh/faq')
    |     
    meta(property='og:image', content='https://popcorntime.sh/images/graph-image.png')
    // 1200x630px
    // Twitter Cards Metadata
    meta(name='twitter:card', content='summary')
    |     
    meta(name='twitter:url', content='https://popcorntime.sh/faq')
    |     
    meta(name='twitter:domain', content='popcorntime.sh')
    |     
    meta(name='twitter:title', content='Popcorn Time')
    |     
    meta(name='twitter:description', content='Skip the downloads! Watch the best movies & TV shows on Popcorn Time instantly in HD, with subtitles, for free! Available for Windows, Mac, Linux and Android.')
    |     
    meta(name='twitter:image', content='images/icon152.png')
    |     
    meta(name='twitter:site', content='@popcorntimetv')
    |     
    meta(name='twitter:creator', content='@popcorntimetv')
    // Bookmark/Shortcut Icons
    link(rel='shortcut icon', href='favicon.ico')
    |     
    meta(name='apple-mobile-web-app-title', content='Popcorn Time')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon152.png', sizes='152x152')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon144.png', sizes='144x144')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon120.png', sizes='120x120')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon114.png', sizes='114x114')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon76.png', sizes='76x76')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon72.png', sizes='72x72')
    |     
    link(rel='apple-touch-icon-precomposed', href='images/icon57.png', sizes='57x57')
    // CSS
    link(href='/css/main.css', media='all', rel='stylesheet', type='text/css')
  body#page-faq.beta(lang=i18n.lng)
    section#header
      nav.fixed-width
        a.logo-link(href='https://popcorntime.sh/faq', title='Popcorn Time - Frequently Asked Questions')
          h1#logo(title='Popcorn Time - Frequently Asked Questions') Popcorn Time - Frequently Asked Questions
        | &#x9;&#x9;&#x9;
        ul.social.align-right
          li
            a.blog(href='https://blog.popcorntime.sh/', title='Blog', target='_blank') Blog
          li
            a.discourse(href='https://www.reddit.com/r/PopCornTime/', title='Forum', target='_blank') Forum
          li
            a.twitter(href='https://twitter.com/popcorntimetv', title='Twitter', target='_blank') Twitter
          li
            a.facebook(href='https://www.facebook.com/PopcornTimedotsh', title='Facebook', target='_blank') Facebook
          li
            a.reddit(href='https://www.reddit.com/r/PopCornTime/', title='Reddit', target='_blank') Reddit
          li
            a.github(href='https://github.com/popcorn-official/', title='Github', target='_blank') Github
        | &#x9;&#x9;&#x9;
        ul.align-left(itemscope='', itemtype='http://www.schema.org/SiteNavigationElement')
          ol
            li.text(itemprop='name')
              a(itemprop='url', data-i18n='nav.home', href='https://popcorntime.sh/') HOME
            | &#x9;&#x9;&#x9;&#x9;
            li.text(itemprop='name')
              a(itemprop='url', data-i18n='nav.tos', href='https://popcorntime.sh/tos') TOS
    | &#x9;
    .container.fadeIn.wow
      section#faq.fixed-width(title='Frequently Asked Questions')
        .warning
          img(src='images/icon-warning.svg', alt='Warning!')
          | &#x9;&#x9;&#x9;&#x9;
          p(data-i18n='warning.whatitdoes') Popcorn Time streams movies and TV shows from torrents
          | &#x9;&#x9;&#x9;&#x9;
          p(data-i18n='warning.copyright')
            | Downloading copyrighted material may be illegal in your country. Use at your own risk.
        | &#x9;&#x9;&#x9;
        article#what
          h2  What is Popcorn Time ?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Popcorn Time is the result of many developers and designers putting a bunch of APIs together to make the experience of watching torrent movies as simple as possible.
          | &#x9;&#x9;&#x9;&#x9;
          p
            | We are an open source project. We are from all over the world. We love our movies. And boy, do we love popcorn.
        | &#x9;&#x9;&#x9;
        article#legal
          h2 Is this legal?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Depends on where you&apos;re from, really. Once again: we&apos;re using torrents, so if you really care, you&apos;d better google what the legal situation around this protocol is where you live.
        | &#x9;&#x9;&#x9;
        article#seeding
          h2
            | Popcorn Time works using torrents, fair enough. Am I seeding while watching a movie?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Indeed, you are. You&apos;re going to be uploading bits and bits of the movie for as long as you&apos;re watching it on Popcorn Time.
        | &#x9;&#x9;&#x9;
        article#storage
          h2 What happens to the movies after I&apos;m done?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Your movies will stay buried in a temporary folder somewhere on your drive until you restart your computer. Then it will be gone for good. You can choose to keep the downloaded files in the settings.
        | &#x9;&#x9;&#x9;
        article#update
          h2 Will there be a new version?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Most definitely. But we do not know when We&apos;ll update our website and let you know via Facebook, Twitter, Reddit and Google+ when we it&apos;s ready.
        | &#x9;&#x9;&#x9;
        article#movies
          h2 How come you&apos;ve got the latest movies?
          p
            | We search for movies uploaded by YTS. Better ask them how they are handling this!
        article#episodes
          h2 Why are some episodes missing?
          p
            | We grab the TV Show episodes from EZTV/KAT/RARBG. Due to video and audio codec limitations we are very selective on what releases we grab via the API. This is why some TV shows appear to be missing episodes.
        article#languages
          h2 Will you be adding movies in my language?
          p
            | Chances are that most (if not all) of the movies available in Popcorn Time will be in English. However, languages for subtitles and the app itself are constantly being added by our lovely contributors.
        article#cant-launch
          h2 Why can&apos;t I launch Popcorn Time?
          p.icon-mac
            strong Your system may prevent unsigned apps from being run
            br
            | Go to 
            span.code System Preferences &gt; Security &gt; Allow Apps downloaded from &gt; Anywhere
            |  and try to launch Popcorn Time again.
          | &#x9;&#x9;&#x9;&#x9;
          p.icon-mac
            strong You may have not have enough User Priviliges
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;Open a Terminal, and type:
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          ul.step-code
            li
              span.code $ chmod +x /Applications/Popcorn\ Time.app/Contents/MacOS/node-webkit
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              span.code $ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/crash_inspector
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              span.code
                | $ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/node-webkit\ Helper.app/Contents/MacOS/node-webkit\ Helper
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              span.code
                | $ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/node-webkit\ Helper\ EH.app/Contents/MacOS/node-webkit\ Helper\ EH
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            li
              span.code
                | $ chmod +x /Applications/Popcorn\ Time.app/Contents/Frameworks/node-webkit\ Helper\ NP.app/Contents/MacOS/node-webkit\ Helper\ NP
        | &#x9;&#x9;&#x9;
        article#stuck
          h2 I can&apos;t get past the initial &quot;Please wait...&quot; screen :(
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Living on Queen Elizabeth&apos;s realm, aren&apos;t you? Nothing we can do about that right now, sorry.
        | &#x9;&#x9;&#x9;
        article#select-subtitles
          h2 Why can&apos;t I select subtitles?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | You may have to wait until all of the movie data (cover, summary, length, etc...) is retrieved. Sometimes it may be something else!
        | &#x9;&#x9;&#x9;
        article#new-apps
          h2 Thinking about launching for Apple TV/Smart TVs/Commodore 64?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Our efforts are currently towards improving our existing applications for watching torrent movies. So launching versions for other platforms is not in our immediate roadmap.
          br
          |         
          h2 When will the iOS application be released?
          |         
          p Once our developers think it&apos;s ready for the world.
        | &#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;
        article#other-question
          h2 I have a question that is not listed here, were should I go?
          | &#x9;&#x9;&#x9;&#x9;
          p
            | You could ask your question on 
            a(href='https://www.reddit.com/r/PopCornTime/') our forum
            | , that&apos;s where our developers are trying to answer every question. And when they don&apos;t have time to help you, someone else from our community might be able to point you in the right direction.
    | &#x9;
    div
      section#footer
        nav.clear-fix
          a.logo(href='https://popcorntime.sh/', title='Popcorn Time') Popcorn time
          |                 
          ul.social
            li
              a.blog(href='https://blog.popcorntime.sh/', title='Blog', target='_blank') Blog
            li
              a.discourse(href='https://www.reddit.com/r/PopCornTime/', title='Forum', target='_blank') Forum
            li
              a.twitter(href='https://twitter.com/popcorntimetv', title='Twitter', target='_blank') Twitter
            li
              a.facebook(href='https://www.facebook.com/PopcornTimedotsh', title='Facebook', target='_blank') Facebook
            li
              a.reddit(href='https://www.reddit.com/r/PopCornTime/', title='Reddit', target='_blank') Reddit
            li
              a.github(href='https://github.com/popcorn-official/', title='Github', target='_blank') Github
        |             
        footer
          hr
          |                 
          p(data-i18n='[html]footer.love')
            | Made with 
            span &#x2764;
            |  by a bunch of geeks from All Around The World
          |                 
          small
            a#status(data-i18n='footer.status', href='http://status.popcorntime.sh/', target='_blank') Status
            |  &mdash;
            |                     
            a(data-i18n='footer.tos', href='https://popcorntime.sh/tos') Terms of Service
            |  &mdash;
            |                     
            a(data-i18n='footer.faq', href='https://popcorntime.sh/faq') FAQ
            |  &mdash;
            |                     
            a(data-i18n='footer.con', href='https://blog.popcorntime.sh/popcorn-communications/') Contact us / About
    // JavaScript Libraries
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js', type='text/javascript')
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js', type='text/javascript')
    |     
    script(type='text/javascript', src='js/main.js')
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-W5LM6X', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W5LM6X');
    // End Google Tag Manager
